*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #eed2ec;
    align-items: center;
    display:flex ;
    justify-content: center;
}
.calculator{
    background: #3a4452;
    padding: 37px;
    border-radius: 10px;
    width: 50vh;
}
.calculator form input{
    border:0;
    outline:0;
    width: 70px;
    margin: 0;
height: 50px;
border-radius: 10px;
box-shadow: -8px -8px 15px rgba(21, 3, 3, 0.327),  5px 5px 10px rgba(0, 0, 0, 0.2);
background: transparent;
font-size: 20px;
color: white;
padding: 10px;
cursor: pointer;

}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 50px;
}
form  input.equal{
    width: 140px;
}
 form input.operator{
    color: lightblue;
}
h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color:#3a4452;
}
